@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <img class="float-left rounded-circle" src="//placehold.it/150" style="margin-right:25px;" />
        <h1 class="display-4">John Yacuta</h1>
        <p class="lead">Aspiring Software Developer</p>
    </div>
</div>

<div class="container body-content">

    <h3>Software Projects</h3>
    <hr />

    <div class="row">
        <div class="col-sm-3" style="width: 18rem; margin-bottom: 25px">
            <div class="card">
                <img class="card-img-top img-fluid" src="https://edwps.com/wp-content/uploads/2018/08/Blog-Icon-01.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Tech Blog</h4>
                    <p class="card-text">
                        An ASP.NET MVC web application that shows tech news and updates based on personal interest
                    </p>
                    <a href="https://github.com/jjLudin/TechBlog" target="_blank" class="card-link">Source Code</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3" style="width: 18rem; margin-bottom: 25px">
            <div class="card">
                <img class="card-img-top img-fluid" src="https://i.imgur.com/XjzK8e0.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Portfolio</h4>
                    <p class="card-text">
                        An ASP.NET MVC web page that is my portfolio displaying my software projects
                    </p>
                    <a href="#" target="_blank" class="card-link">Source Code</a>
                    <a href="#" class="card-link">Site</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3" style="width: 18rem; margin-bottom: 25px">
            <div class="card">
                <img class="card-img-top img-fluid" src="https://i.imgur.com/1xQIiaF.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">SpeechPath</h4>
                    <p class="card-text">
                        An AngularJS web application that teaches its users how to pronounce the sounds of the 
                        English language with fun and engaging activities
                    </p>
                    <a href="#" target="_blank" class="card-link">Source Code</a>
                    <a href="#" target="_blank" class="card-link">Site</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3" style="width: 18rem; margin-bottom: 25px">
            <div class="card">
                <img class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/London.bankofengland.arp.jpg/220px-London.bankofengland.arp.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Bank Application</h4>
                    <p class="card-text">
                        A Java console application emulating a bank system where users can 
                        log in and make deposits and withdrawals from their accounts
                    </p>
                    <a href="https://github.com/jjLudin/Bank" target="_blank" class="card-link">Source Code</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3" style="width: 18rem; margin-bottom: 25px">
            <div class="card">
                <img class="card-img-top img-fluid" src="https://i.imgur.com/uKQ8yDn.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">iOS Application</h4>
                    <p class="card-text">
                        An iOS application that acts as a grocery list titled 'MyGrList'
                    </p>
                    <a href="https://github.com/jjLudin/MyGrList" target="_blank" class="card-link">Source Code</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3" style="width: 18rem; margin-bottom: 25px">
            <div class="card">
                <img class="card-img-top img-fluid" src="https://i.imgur.com/xSNaBbO.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Python Game Application</h4>
                    <p class="card-text">
                        A text-based video game written in Python. The story is about you, a space cadet, 
                        crash landing on an unknown planet trying to find your way out. 
                        The user is allowed to move around the map seeing where he/she is. 
                        The user will find valuable items, encounter deadly enemies, and hopefully get out of that planet.
                    </p>
                    <a href="https://github.com/jjLudin/TextBasedVideoGame" target="_blank" class="card-link">Source Code</a>
                </div>
            </div>
        </div>

    </div>
</div>
